* {
    box-sizing: border-box;
}
@mixin grid($prefix) {
    @for $i from 1 through 12 {
      .col-#{$prefix}-#{$i} {
        $width: 100% / 12 * $i;
        flex: 0 0 $width;
        max-width: $width;
      }
    }
}
@for $i from 1 through 12 {
    .col-sm-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
}
@media(max-width: 767px) {
    @include grid('sm');
}
  
  @media(min-width: 768px) {
    @include grid('md');
}
  
  @media(min-width: 992px) {
    @include grid('lg');
}
  
  @media(min-width: 1200px) {
    @include grid('xl');
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}