/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$white: #fff;
$border-line: #E3E3E3;
$button-orange: rgb(245, 130, 32);
$button-hover-orange: #ffa200;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
$main-font: "Roboto", sans-serif;