/* Colors */
/* Font sizes */
/* Fonts */
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #191919;
  position: fixed;
  top: 0;
}

.sidebar .navbutton {
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.sidebar .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  margin: 4px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}

.sidebar ul li {
  padding-left: 20px;
}

.sidebar ul li:hover {
  background-color: #696c72;
  border-left: 4px solid #F58220;
}

.sidebar ul li:hover a {
  color: #fff;
}

.sidebar ul li:hover .linkimg {
  fill: #fff;
}

.sidebar ul a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 50px;
  text-decoration: none;
  padding-left: 5px;
}

.sidebar .logo {
  margin-top: 15px;
  margin-left: 20px;
}

.sidebar .linkimg {
  width: 20px;
  height: 20px;
  fill: #818181;
  position: relative;
  top: 4px;
}

.sidebar .meneger {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
}

.sidebar .meneger h1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  padding-left: 20px;
  margin-bottom: 20px;
}

.sidebar .meneger P {
  color: #83a3b9;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
}

.sidebar .meneger .avatar {
  display: flex;
  padding-left: 20px;
}

.sidebar .meneger .avatar p {
  padding-left: 15px;
}

.sidebar .user-mobile, .sidebar .notification-mobile, .sidebar .cash-mobile, .sidebar .logout-mobile {
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  display: none;
}

.sidebar .user-mobile h1, .sidebar .notification-mobile h1, .sidebar .cash-mobile h1, .sidebar .logout-mobile h1 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #999999;
  padding-left: 20px;
  margin-bottom: 20px;
}

.sidebar .user-mobile .profile-name, .sidebar .user-mobile .notification-name, .sidebar .user-mobile .cash-name, .sidebar .user-mobile .logout-name, .sidebar .notification-mobile .profile-name, .sidebar .notification-mobile .notification-name, .sidebar .notification-mobile .cash-name, .sidebar .notification-mobile .logout-name, .sidebar .cash-mobile .profile-name, .sidebar .cash-mobile .notification-name, .sidebar .cash-mobile .cash-name, .sidebar .cash-mobile .logout-name, .sidebar .logout-mobile .profile-name, .sidebar .logout-mobile .notification-name, .sidebar .logout-mobile .cash-name, .sidebar .logout-mobile .logout-name {
  display: inline-flex;
}

.sidebar .user-mobile .profile-name .user-name-mobile, .sidebar .user-mobile .notification-name .user-name-mobile, .sidebar .user-mobile .cash-name .user-name-mobile, .sidebar .user-mobile .logout-name .user-name-mobile, .sidebar .notification-mobile .profile-name .user-name-mobile, .sidebar .notification-mobile .notification-name .user-name-mobile, .sidebar .notification-mobile .cash-name .user-name-mobile, .sidebar .notification-mobile .logout-name .user-name-mobile, .sidebar .cash-mobile .profile-name .user-name-mobile, .sidebar .cash-mobile .notification-name .user-name-mobile, .sidebar .cash-mobile .cash-name .user-name-mobile, .sidebar .cash-mobile .logout-name .user-name-mobile, .sidebar .logout-mobile .profile-name .user-name-mobile, .sidebar .logout-mobile .notification-name .user-name-mobile, .sidebar .logout-mobile .cash-name .user-name-mobile, .sidebar .logout-mobile .logout-name .user-name-mobile {
  margin-right: 20px;
  margin-left: 5px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #83a3b9;
}

.sidebar .user-mobile .profile-name .profile-mobile, .sidebar .user-mobile .profile-name .bell-mobile, .sidebar .user-mobile .profile-name .wallet-mobile, .sidebar .user-mobile .profile-name .exit-mobile, .sidebar .user-mobile .notification-name .profile-mobile, .sidebar .user-mobile .notification-name .bell-mobile, .sidebar .user-mobile .notification-name .wallet-mobile, .sidebar .user-mobile .notification-name .exit-mobile, .sidebar .user-mobile .cash-name .profile-mobile, .sidebar .user-mobile .cash-name .bell-mobile, .sidebar .user-mobile .cash-name .wallet-mobile, .sidebar .user-mobile .cash-name .exit-mobile, .sidebar .user-mobile .logout-name .profile-mobile, .sidebar .user-mobile .logout-name .bell-mobile, .sidebar .user-mobile .logout-name .wallet-mobile, .sidebar .user-mobile .logout-name .exit-mobile, .sidebar .notification-mobile .profile-name .profile-mobile, .sidebar .notification-mobile .profile-name .bell-mobile, .sidebar .notification-mobile .profile-name .wallet-mobile, .sidebar .notification-mobile .profile-name .exit-mobile, .sidebar .notification-mobile .notification-name .profile-mobile, .sidebar .notification-mobile .notification-name .bell-mobile, .sidebar .notification-mobile .notification-name .wallet-mobile, .sidebar .notification-mobile .notification-name .exit-mobile, .sidebar .notification-mobile .cash-name .profile-mobile, .sidebar .notification-mobile .cash-name .bell-mobile, .sidebar .notification-mobile .cash-name .wallet-mobile, .sidebar .notification-mobile .cash-name .exit-mobile, .sidebar .notification-mobile .logout-name .profile-mobile, .sidebar .notification-mobile .logout-name .bell-mobile, .sidebar .notification-mobile .logout-name .wallet-mobile, .sidebar .notification-mobile .logout-name .exit-mobile, .sidebar .cash-mobile .profile-name .profile-mobile, .sidebar .cash-mobile .profile-name .bell-mobile, .sidebar .cash-mobile .profile-name .wallet-mobile, .sidebar .cash-mobile .profile-name .exit-mobile, .sidebar .cash-mobile .notification-name .profile-mobile, .sidebar .cash-mobile .notification-name .bell-mobile, .sidebar .cash-mobile .notification-name .wallet-mobile, .sidebar .cash-mobile .notification-name .exit-mobile, .sidebar .cash-mobile .cash-name .profile-mobile, .sidebar .cash-mobile .cash-name .bell-mobile, .sidebar .cash-mobile .cash-name .wallet-mobile, .sidebar .cash-mobile .cash-name .exit-mobile, .sidebar .cash-mobile .logout-name .profile-mobile, .sidebar .cash-mobile .logout-name .bell-mobile, .sidebar .cash-mobile .logout-name .wallet-mobile, .sidebar .cash-mobile .logout-name .exit-mobile, .sidebar .logout-mobile .profile-name .profile-mobile, .sidebar .logout-mobile .profile-name .bell-mobile, .sidebar .logout-mobile .profile-name .wallet-mobile, .sidebar .logout-mobile .profile-name .exit-mobile, .sidebar .logout-mobile .notification-name .profile-mobile, .sidebar .logout-mobile .notification-name .bell-mobile, .sidebar .logout-mobile .notification-name .wallet-mobile, .sidebar .logout-mobile .notification-name .exit-mobile, .sidebar .logout-mobile .cash-name .profile-mobile, .sidebar .logout-mobile .cash-name .bell-mobile, .sidebar .logout-mobile .cash-name .wallet-mobile, .sidebar .logout-mobile .cash-name .exit-mobile, .sidebar .logout-mobile .logout-name .profile-mobile, .sidebar .logout-mobile .logout-name .bell-mobile, .sidebar .logout-mobile .logout-name .wallet-mobile, .sidebar .logout-mobile .logout-name .exit-mobile {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  fill: #9B9B9B;
}

.sidebar .cash-mobile .cash-name-mobile, .sidebar .cash-mobile .notification-name-mobile, .sidebar .cash-mobile .logout-name-mobile, .sidebar .notification-mobile .cash-name-mobile, .sidebar .notification-mobile .notification-name-mobile, .sidebar .notification-mobile .logout-name-mobile, .sidebar .logout-mobile .cash-name-mobile, .sidebar .logout-mobile .notification-name-mobile, .sidebar .logout-mobile .logout-name-mobile {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #9c9c9c;
  margin: 10px;
  position: relative;
  bottom: 6px;
  display: none;
}

@media (max-width: 992px) {
  .sidebar .user-mobile, .sidebar .notification-mobile, .sidebar .cash-mobile, .sidebar .logout-mobile {
    display: block;
  }
  .sidebar .cash-mobile .cash-name-mobile, .sidebar .cash-mobile .notification-name-mobile, .sidebar .cash-mobile .logout-name-mobile, .sidebar .notification-mobile .cash-name-mobile, .sidebar .notification-mobile .notification-name-mobile, .sidebar .notification-mobile .logout-name-mobile, .sidebar .logout-mobile .cash-name-mobile, .sidebar .logout-mobile .notification-name-mobile, .sidebar .logout-mobile .logout-name-mobile {
    display: block;
  }
}

/*# sourceMappingURL=side-bar.css.map */