@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "top-bar";
@import "side-bar";
@import "general-statistic";
@import "links";
body {
    background-color: #F3F3F0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

  